body {
    background-color: black;
    font-family: 'Courier Prime', monospace;
    color: white;
}

li {
    list-style: none;
}

h1 {
    display: none;
}

h2 {
    font-size: 1.5em;
    margin-left: 1rem;
}


h2,
a {
    text-transform: lowercase;
    text-decoration: none;
}    



/* -------------- hamburger menu -------------- */

nav {
    position: absolute;
}

div a {
    color: white;
    transition: 1s;
}

div a:focus {
    background-color: white;
    color: darkred;
}

div a:hover {
    text-decoration: underline 2px darkred;
}

div li {
    padding: .5em;
    width: 30vw;
}

div li:first-child {
    padding-top: 2em;
}

div a.disabled-link {
    pointer-events: none;
}

div {
    margin-left: -15em;
    width: min-content;
    transition: 2s;
    background-color: black; 

}

div.menuhidden {
    position: fixed;
    margin-left: 0px;
}

button {
    position: fixed;
    z-index: 1;

    background-image: url("img/hamburger_icon.png");
    background-color: black;
    border: none;
    
    background-size: 100%;
    height: 2rem; width: 2rem;
}

button:focus {
    background-image: url("img/hamburger_icon_focus.png");
}

button:hover {
    border: solid 3px darkred;
}

button.buttonclicked {
    background-image: url("img/back_icon.png");
}

button.buttonclicked:focus {
    background-image: url("img/back_icon_focus.png");
}




/*---- CSS voor de GIF-background .startpage ----*/

.startpage {
    background-image: url("img/grandsonheaderclip.gif");
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;
    background-color: black;

    margin: 0;

    text-align: center;
    height: 80vh;

}


/*---- h2 elementen in de eerste section (.startpage) ----*/

.startpage h2 {
    width: 50%;
    margin-left: auto; margin-right: auto;
}

.startpage h2:first-child {
    padding-top: 10%;
}

.startpage h2:nth-child(odd) {
    font-size: 1.2em;
}




/*---- de anchors in de eerste section (.startpage) ----*/

.startpage li {
    /* font-size: 1.3em; */
    border: solid 2px;
    
    width: 70%;
    padding: .2em; margin: .4em;
    margin-left: auto; margin-right: auto;

}

.startpage li:hover,
.startpage li a:hover {
    color: grey; border-color: grey;
    transition: .4s;
}

.startpage ul a {
    text-decoration: none;
    color: white;
}

.startpage ul a:focus {
    background-color: darkred;
}


/*---- GIF-background .watchdirty ----*/

.watchdirty {
    background-image: url("img/grandsondirtyclip.gif");
    background-repeat: no-repeat;
    background-size: 100%;

    text-align: center;
    background-color: dimgrey;
    height: 50vw;
    /* font-size: 2em; */
    width: 100vw;
}




/*-------- text in .watchdirty ---------*/

.watchdirty h3 {
    padding-top: 20%; padding-bottom: 0;
}

.watchdirty a {
    transition: background-color 1s;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: .5em;
}

.watchdirty a:hover {
    background-color: rgba(255, 255, 255, .5);
}

.watchdirty a:focus {
   color: white; background-color: darkred;
}



/*-------- .merch ---------*/

.merch {
    display: flex;
    flex-flow: column;
    width: 60%;
    margin-left: auto; margin-right: auto;
    
    text-align: center;
}




/*-------- .merch img ---------*/

.merch article img {
    max-width: 100%;
    margin-top: 4em;
}


/*-------- .merch h3 & anchors ---------*/

.merch h2 {
    margin-top: 2.3em; margin-bottom: .1em;
    margin-left: 0;
}

.merch h3 {
    margin-top: 0.5em;
}

.merch article a {
    color: black;
    background-color: white;
    text-decoration: none;
    
    width: 5em;
    margin-left: auto; margin-right: auto;
    padding: .5em;
    
    transition: background-color 1s;
}

.merch article a:hover {
    color: black;
    background-color: rgba(255, 255, 255, .5);
}

.merch article a:focus {
    color: white; background-color: darkred;
 }

.merch a {
    color: white;
    text-decoration: underline;
    width: 7em;
    
    transition: .5s;
    
    margin-top: 1em;
    margin-left: auto; margin-right: auto;
}

.merch a:hover {
    color: rgba(255, 255, 255, .5);
}

.merch a:focus {
    color: white; background-color: darkgrey;
 }



/*-------- .tour ---------*/

.tour {
    width: 70vw;
    
    margin-top: 10%; margin-bottom: 10%;
    margin-left: auto; margin-right: auto;
    
    text-align: center;
}

.tour h2 {
    margin-left: 0;
}

.tour article {
    display: flex;
    flex-flow: column;
}

.tour h3 {
    margin: 0;
}

.tour h3:first-of-type {
    margin-top: 8%;
}

.tour h3:last-of-type {
    margin-bottom: 2%;
}




/*-------- .tour anchors ---------*/

.tour a {
    color: white;
    background: none;
    text-decoration: underline;
    
    margin-left: auto; margin-right: auto;
   
    
    transition: .5s;
}

.tour a:hover {
    color: rgba(255, 255, 255, .5);
}

.tour a:focus {
    color: white; background-color: darkgrey;
 }

.tour article a {
    color: black;
    background-color: white;
    text-decoration: none;
    
    padding: .6em;
    width: 70%;
    margin-top: 0; margin-bottom: 0;
    
    transition: background-color .5s;
}

.tour article a:hover {
    background-color: rgba(255, 255, 255, .5);
}

.tour article a:focus {
    color: white; background-color: darkred;
 }





/*-------- form ---------*/

input[type=text] {    
    display: block;
    margin-left: auto; margin-right: auto;
    width: 70%; max-width: 1000px;
    padding: .4em;
    
    text-align: center;
    font-family: 'Courier Prime', monospace;
    
    border: 2px solid white;
    background-color: black;
    color: white;
}

input[type=submit] {
    display: block;
    margin-left: auto; margin-right: auto;
    padding: .4em;
    width: 70%; max-width: 1000px; 
    margin-top: .5em;

    font-family: 'Courier Prime', monospace;
    text-transform: lowercase;
    color: black;
    
    border: none;
}

label {
    
    margin: 5%;
    margin-left: auto; margin-right: auto;
}

input:focus {
    background-color: darkred;
}



/*-----------------  2nd page ------------------*/

.musicvideo h2:first-of-type{
    padding-top: 10%;
}




/*-------- releases 2nd page---------*/

.releases article h3 {
    display: none;
}

.releases {
    max-width: 95vw; height: 58vw;
    display: flex;
    margin-left: 0; margin-right: auto;

    overflow-x: auto;
}

.releases article {
    padding-right: 1rem; padding-left: 1rem;
}

.releases article img {
    max-width: 50vw;
}


/*-------- remixes 2nd page---------*/

.remixes article h3 {
    display: none;
}

.remixes {
    max-width: 95vw; height: 58vw;
    display: flex;
    margin-left: 0; margin-right: auto;

    overflow-x: auto;
}

.remixes article {
    padding-right: 1rem; padding-left: 1rem;
}

.remixes article img {
    max-width: 50vw;
}



/*-------- acoustic 2nd page---------*/

.acoustic article h3 {
    display: none;
}

.acoustic {
    max-width: 95vw; height: 58vw;
    display: flex;
    margin-left: 0; margin-right: auto;

    overflow-x: auto;
}

.acoustic article {
    padding-right: 1rem; padding-left: 1rem;
}

.acoustic article img {
    max-width: 50vw;
}




/*-------- live 2nd page---------*/

.live article h3 {
    display: none;
}

.live {
    display: flex;
    margin-left: 0; margin-right: auto;
    height: 58vw;
}

.live article {
    padding-right: 13rem; padding-left: 1rem;
}

.live article img {
    max-width: 50vw;
}

.releases article a, 
.remixes article a,
.acoustic article a,
.live article a {
    padding: .3em;
    color: black;
    background-color: white;
}

.releases h2,
.remixes h2,
.acoustic h2,
.live h2 {
    display: none;
}

.musicvideo section article a {
    transition: 0.5s;
}

.musicvideo section article a:hover {
    background-color: rgba(255, 255, 255, .5);
}

.musicvideo section article a:focus {
    background-color: darkred;
    color: white;
}



/* ------------ footer ------------- */

footer h2 {
    text-align: center;
    margin-top: 2em;
    margin-left: 0;
}

footer img {
    display: block;
    width: 70%;
    margin-left: auto; margin-right: auto;
    
}

footer ul {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
}

footer li {
    margin: .6em;
}

footer a {
    color: white;
}

footer a:focus {
    background-color: darkgrey;
}




/*-------- media queries---------*/

@media (min-width:40em) {

    .startpage {
        background-size: 200%;
        padding-bottom: 0;
        height: 70vh;
    }

    .startpage h2:first-child {
        padding-top: 10%;
    }

    .merch {
        display: grid;
        width: 90vw;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }

    .merch h2,
    .merch a {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .tour {
        display: grid;
        width: 90vw;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }

    .tour h2,
    .tour a {
        grid-column-start: 1;
        grid-column-end: 3;
    }



    .releases,
    .remixes,
    .acoustic,
    .live {
        height: 48vw;
    }
    .releases article img,
    .remixes article img,
    .acoustic article img,
    .live article img {
        max-width: 40vw;
    }

    .live {
        height: 48vw;
        width: 40vw;
    }
}